.root-container {
    width: 480px;
    height: 500px;
}

.row input {
    display: inline-block;
}

.host {
    width: 150px;
}

.title {
    width: 115px;
}

.color {
    width: 30px;
    height: 30px;
    border-radius: 45px;
}

textarea {
    height: 15rem !important;
}

.separator {
    width: 100%;
    height: 1px;
    border-bottom: 1px solid #d0d0d0;
    margin: 10px 0px 10px 0px;
}

input[type="text"] {
    font-size: 14px !important;
    margin: 0px !important;
}